/*--------------------------------------------------- Data---------------------------------------------------------------------------------*/
h1{
    font-size: 25px;
}



#data{
    background-image: url(imagens/5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh; /* Garante que o corpo ocupe 100% da altura da tela */
}

.retorno{
    font-size: 110px;
    color: transparent;
    padding: 50px;
    
}

#listt {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 80px; /* Espaço entre os itens */
  }
 #listt li {
    background-color: transparent;
    padding: 10px;
    position: relative;
    top: 380px;
    left: 690px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #anoo{
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    left: 200px; /* Ajuste conforme necessário */
  }

  #hm {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 115px; /* Espaço entre os itens */

  }

  #hm li {
    position: relative;
    color: black;
    top: 130px;
    left: 770px;

  }